<br />

<div class="row">
  <div class="col-lg-offset-4 col-lg-4">

    <div class="panel panel-default" style="padding: 20px 30px;">

      <div class="row">
        <div class="col-md-8">
            <score [team1]='team1[0]' [team2]='team2[0]'></score>
        </div>
        <div class="col-md-4 text-right">
            <weather></weather>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-12">
            <batsmen [batsman1]='batsman1[0]' [batsman2]='batsman2[0]'></batsmen>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <bowlers [bowler1]='bowler1[0]' [bowler2]='bowler2[0]'></bowlers>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <h1>{{feedTitle}}</h1>
        </div>
      </div>

      <!--<div class="row">
        <div class="col-md-12">
            <table class="table table-condensed commentary">
                <tbody>
                  <tr *ngFor='let commentary of commentaries'>
                    <td><strong>{{commentary.over}}.{{commentary.ball}}</strong></td>
                    <td>{{commentary.runs}} !</td>
                  </tr>
                  <tr>
                    <td><strong>0.0</strong></td>
                    <td>Play is about to get underway</td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>-->

    <br />

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default alert alert-info face-delivery">
            <div class="panel-body" (click)='faceDelivery()'>
              {{buttonMessage}}
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>